<section id="sobre" class="py-20 bg-zinc-950 px-6 scroll-mt border-y border-white/5">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center mb-12">
            <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?w=800" (click)="modalService.openZoomModal('https://images.unsplash.com/photo-1514933651103-005eec06c04b?w=800')" class="w-full rounded-xl img-bw-to-color border border-white/10 cursor-pointer">
            <div>
                <h2 class="text-5xl font-bold italic mb-8">Sobre <span class="text-dg">O Bar</span></h2>
                <p class="text-gray-400 text-lg leading-relaxed italic">
                    O Distinta Garage nasceu da paixão pela estrada e pelo Rock n Roll. Um refúgio em São Paulo para quem busca autenticidade, som de qualidade e a melhor gastronomia de garagem.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-6 gap-3">
            @for (img of dataService.aboutImages(); track img) {
            <img [src]="img" (click)="modalService.openZoomModal(img)" class="h-40 w-full object-cover rounded img-bw-to-color cursor-pointer">
            }
        </div>
    </div>
</section>
