<section id="bandas" class="py-20 bg-zinc-950 px-6 scroll-mt">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-bold italic">Bandas da <span class="text-dg">Casa</span></h2>
            <p class="text-gray-400 mt-2 italic animate-pulse">Clique nos cards e saiba mais sobre cada banda</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            @for (band of dataService.bands(); track band.nome_banda) {
            <div class="cursor-pointer group text-center" (click)="modalService.openBandModal(band)">
                <img [src]="band.image_url" class="w-full h-80 object-cover rounded-xl border-2 border-transparent group-hover:border-dg transition-all img-bw-to-color">
             <div class="mt-4">
                <h4 class="text-2xl font-bold uppercase">{{ band.nome_banda }}</h4>
                <p class="text-dg uppercase text-xs font-bold tracking-widest">{{ band.estilo_musical }}</p>
            </div>
            </div>
            }
        </div>
    </div>
</section>
